{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Writer</th>
                <th>Nopages</th>
                <th>Released</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.name }}</td>
                <td>{% if book.artist %}{{ book.artist.name }}{% endif %}</td>
                <td>{{ book.nopages }}</td>
                <td>{% if book.released %}{{ book.released|date('Y-m-d') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
