{% extends 'base.html.twig' %}

{% block body %}
<center>

    <h1>Nationality</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ nationality.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nationality_list') }}">Back to the list</a>
        </li>
    </ul>

</center>
{% endblock %}
