{% extends "::base.html.twig" %}

{% block body %}
	<center>
		<h1>Artist(s) currently added</h1>

		<table class="table">
	        <thead>
	            <tr>
	                <th>Name</th>
	                <th>Known as</th>
	                <th>Lastname</th>
	            </tr>
	        </thead>
	        <tbody>
				{% for artist in artists %}
					<tr>
						<td>{{ artist.name }}</td>
						<td>{% if artist.knownAs %}"{{ artist.knownAs }}"{% endif %}</td>
						<td>{{ artist.lastname }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</center>
{% endblock %}
