{% extends 'base.html.twig' %}

{% block body %}
<center>

    </br>
    </br>
    <p>Here are some random articles that you might find interesting !</p>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Released</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{% if movie.released %}{{ movie.released|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('movie_detail', { 'id': movie.id }) }}">Take a look !</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</center>
{% endblock %}

