{% extends 'base.html.twig' %}

{% block body %}
<center>

    <h1>Countries list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>{% if country.states %}
                    <ul>
                        {% for state in country.states %}
                        
                            <li>{{ state.name }}</li>

                        {% endfor %}
                    </ul>
                {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</center>
{% endblock %}
