{% extends 'base.html.twig' %}

{% block body %}
    <center>
        <h1>Cities list</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.name }}</td>
                    <td>{% if city.state %}{{ city.state.name }}{% endif %}</td>
                    <td>{% if city.state.country %}{{ city.state.country.name }}{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('city_detail', { 'id': city.id }) }}">More informations</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </center>

{% endblock %}
